# Binaries
terraform-provider-libvirt
/codegen
*.exe
*.dll
*.so
*.dylib

# Test binaries
*.test
*.out

# Go workspace file
go.work
go.work.sum

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Generated code
internal/generated/*.gen.go

tmp
tmp/
