---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/libvirt_node_info/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
