[Unit]
Before=local-fs.target
[Mount]
What=qemu_docker_images
Where=/var/mnt/images
Options=ro,trans=virtio,version=9p2000.L
Type=9p
[Install]
WantedBy=local-fs.target
