name: Build and Test
on:
  pull_request:
    paths-ignore:
      - '*.md'
      - 'docs/*'
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - 'docs/*'
permissions:
  contents: read
  pull-requests: read
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.25.x"]
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.5
          only-new-issues: true
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - {os: ubuntu-latest, go: 1.25}
          - {os: windows-latest, go: 1.25}
          - {os: macos-latest, go: 1.25}
    timeout-minutes: 10
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Build
        run: |
          make build
      - name: Test
        run: |
          make test
      - uses: actions/upload-artifact@v4
        with:
          name: terraform-provider-libvirt-${{ matrix.os }}
          path: ${{ github.workspace }}/terraform-provider-libvirt*
